 .btn-green {
     display: flex;
     align-items: center;
     justify-content: center;
     color: #238c44;
     background: #8CD958;
     background: linear-gradient(90deg, rgba(140, 217, 88, 1) 63%, rgba(237, 221, 83, 1) 100%);
     font-family: Sans-serif;
     font-size: 20px;
     font-weight: 800;
     fill: #FFFFFF;
     border-radius: 7px;
     padding: 10px 36px;
     position: relative;

     &:hover {
         color: #ececec;
         background-color: #27bc6f6b;
     }

     i {
         padding: 0 10px;
     }

 }