#section-2 {
    text-align: center;
    background-color: #1a2c3d;
    padding: 70px 0;

    .title {
        margin: 0 0 10px;
        color: #fff;
    }

    .text {
        margin-bottom: 30px;
        span {
            background-color: #fff;
            padding: 0 10px;
        }
    }

    .item{
        background-color: #fff;
        margin: 10px 0;
        padding: 10px 0;
        border-radius: 8px;
        color: #1a2c3d;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon{
            margin-right: 20px;
        }
    }
}